nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: black;
}

.navbar-links a:hover {
  opacity: 75%;
  cursor: pointer;
}