h3 {
  text-align: center;
}

.todos-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.todo {
  margin: 10px;
}

.name {
  font-weight: bold;
  size: 20px;
}

.name:hover {
  cursor: pointer;
}

.todo-contents {
  display: flex;
  align-items: center;
}

.done-checkbox {
  margin: 0 0 0 5px;
}