.todos-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
}

.todo {
  margin: 20px;
}

.name {
  font-weight: bold;
  size: 20px;
}

.name:hover {
  cursor: pointer;
}